.app-container {
  font-family: "Arial", sans-serif;
  background-color: rgb(109, 109, 131);
  width: 100vw;
  height: 100vh;
}

.container-purple {
  display: flex;
  background-color: transparent;
  box-sizing: border-box;
  padding: 20px;
}

.container-white {
  width: 100%;
  height: calc(100vh - 40px);
  box-sizing: border-box;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
}

.main-container {
  background-color: transparent;
  border-radius: 15px;
}

.board-container {
  height: calc(100vh - 210px);
  background-color: #e7e7e7;
  box-shadow: 7px 7px 9px -4px #c1c1c1;
  border-radius: 15px;
  padding: 20px;
}

.boardindex-container {
  background-color: transparent;
  width: 40%;
  min-width: 30%;
}

.search-and-write {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: flex-end;
  gap: 10px;
}

.nav-tabs {
  display: flex;
  background-color: transparent;
  padding: 0px 15px;
  justify-content: space-between;
  gap: 5px;
}

.boardindex-1,
.boardindex-2,
.boardindex-3,
.boardindex-4 {
  width: 195px;
  min-width: 75px;
  height: 40px;
  padding: 5px 5px;
  border: none;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  box-shadow: inset -4px 3px 7px -4px #606060;
  background-color: #d0d0d0;
  font-size: 0.9rem;
  font-weight: 800;
  color: #5c5c5c;
  cursor: pointer;
  transition: font-size 0.3s ease;
}

.boardindex-1:hover {
  font-size: 17px;
}
.boardindex-2:hover {
  font-size: 17px;
}
.boardindex-3:hover {
  font-size: 17px;
}
.boardindex-4:hover {
  font-size: 17px;
}

.active {
  width: 195px;
  min-width: 75px;
  height: 40px;
  padding: 5px 5px;
  border: none;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  box-shadow: inset -5px 4px 7px -4px rgb(137, 135, 170);
  background-color: #e7e7e7;
  font-size: 0.9rem;
  font-weight: 800;
  color: #5c5c5c;
  cursor: pointer;
}

.notice-button {
  width: 36px;
  height: 40px;
  background-color: #b4b4b4;
  box-shadow: inset -5px 4px 7px -4px rgb(109, 109, 109);
  border: none;
  border-radius: 13px;
  font-size: 20px;
  cursor: pointer;
}
.notice-button:hover {
  transform: scale(1.1);
  transition-duration: 0.3s;
}

.alarm-button {
  width: 36px;
  height: 40px;
  background-color: #d9c08c;
  box-shadow: inset -5px 4px 7px -1px rgb(147, 134, 100);
  border: none;
  border-radius: 13px;
  font-size: 20px;
  cursor: pointer;
}
.alarm-button:hover {
  transform: scale(1.1);
  transition-duration: 0.3s;
}

.mypage-button {
  width: 99px;
  height: 40px;
  background-color: #8d93a3;
  box-shadow: inset -5px 4px 7px -1px rgb(94, 97, 121);
  border: none;
  border-radius: 13px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
.mypage-button:hover {
  transform: scale(1.07);
  transition-duration: 0.3s;
}

.loginout-button {
  width: 99px;
  height: 40px;
  background-color: #a78a90;
  box-shadow: inset -5px 4px 7px -1px rgb(114, 92, 92);
  border: none;
  border-radius: 13px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
.loginout-button:hover {
  transform: scale(1.07);
  transition-duration: 0.3s;
}

.table {
  width: 100%;
  margin-top: 20px;
  table-layout: fixed;
  border-collapse: separate;
}

.table th,
.table td {
  text-align: center;
  padding: 8px 30px;
  border-bottom: 1px solid #c9c9c9;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table th {
  background-color: #e7e7e7;
  border-top: #333;
  color: #333;
}

.search-bar {
  width: 100px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-button {
  border: 0;
  background-color: rgb(149, 146, 147);
  color: white;
  padding: 7px 15px;
  border-radius: 5px;
  cursor: pointer;
}
.search-button:hover {
  transform: scale(1.03);
  transition-duration: 0.3s;
}

.write-button {
  border: 0;
  background-color: rgb(119, 115, 116);
  color: white;
  padding: 7px 15px;
  border-radius: 5px;
  cursor: pointer;
}
.write-button:hover {
  transform: scale(1.03);
  transition-duration: 0.3s;
}

.top-right-links {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  gap: 8px;
}
