.write-page {
  padding: 10px;
}

.postSubmit-Button {
  margin-right: 5px;
  border: 0;
  background-color: rgb(110, 115, 127);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}
.postSubmit-Button:hover {
  transform: scale(1.03);
  transition-duration: 0.3s;
}

.title {
  width: 100%; /* 부모 컨테이너의 전체 너비로 확장 */
  box-sizing: border-box; /* 패딩과 border를 width에 포함 */
  padding: 8px;
  font-size: 16px;
  margin-bottom: 10px;
}
.content {
  overflow: auto;
  width: 100%; /* 너비 300px */
  height: 400px; /* 높이 40px */
  min-height: 150px;
  box-sizing: border-box;
  padding: 8px;
  resize: none;
  margin-bottom: 10px;
}

.return_Button {
  margin-right: 5px;
  border: 0;
  background-color: rgb(149, 153, 162);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}
.return_Button:hover {
  transform: scale(1.1);
  transition-duration: 0.3s;
}
